// place here your aplication specific SCSS Code

a[class^=fi-]::before {
    font-size: 1.5rem;
    line-height: 1.1rem;
    vertical-align: middle;
}

table {
    thead {
        th.sorting,
        th.sorting_asc,
        th.sorting_desc {
            padding-right: 20px;
        }
        th.id {
            width: 50px;
        }
        th.author {
            width: 150px;
        }
        th.actions {
            width: 50px;
        }
    }
    .actions {
        &.edit {
            color: $primary-color-light;
                
            &:hover {
                color: $primary-color-alt;
            }
        }
        &.delete {
            color: $alert-color;

            &:hover {
                color: darken($alert-color, 15);
            }
        }
    }
}

.form-actions {
    @include grid-column(12);
    margin-top: 25px;
    text-align: right;
}

.columns {
    .button {
        margin-top: 12px;
        &.small{
            margin-top: 6px;
        }
    }
}


div#occurrences-listing-page {
    display: none;
    table {
        thead {
            th.o-category {
                width: 260px;
            }
            th.o-verb {
                width: 75px;
            }
            th.o-keyword {
                width: 75px;
            }
            th.o-corpus {
                width: 180px;
            }
        }
        tbody {
            a.occurrence-text {
                display: inline-block;
                max-width: 300px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        
    }
}

#filter-area {
//    @include grid-row();
    @include panel();
    
    .speakers,
    .categories {
        list-style: none;
        margin:0;
        padding:0;
        @include grid-row();
        
        li {
            @include grid-column(3);
            margin:0;
            padding:0;
            
            label {
                display: block;
                padding: 6px 0;
                margin:0 auto;
                text-align:center;
                
                &.selected {
                    background-color: $primary-color;
                }
            }
            
            input {
                display: none;
            }
        }
    }
}

.db-query-page {
    
    #query-build-area {
        min-height: 15rem;
        
    }
    
    #select-output {
        
        > p.placeholder {
            display: none;
        }
    }
    
    #add-constraints {
        
        > div.options {
            display: none;
        }
    }
    
    
    
    #query-area {
        display: none;
        min-height: 1rem;
    }   
    
}


#property-distribution-listing {
  th, td {
    text-align: center;
  }
  
  th.category,
  td.category-name {
    min-width: 270px;
    text-align: left;
  }
  
  th.category span {
    display: inline-block;
    margin:0;
    padding:0;
    width: 50%;
  }
}

#property-distribution-occurrence-listing {
  @extend #property-distribution-listing;

  td[rowspan='2'],
  tr:nth-of-type(even) td {
    border-bottom: 1px solid darken($table-even-row-bg, 5);
  }
}
